* {
  padding: 0;
  margin: 0;
}
.container {
  width: 1230px;
  margin: auto;
  overflow: hidden;
  box-sizing: border-box;
}
.container-fluid {
  width: 100%;
  margin: auto;
  overflow: hidden;
  box-sizing: border-box;
}
.container > .row {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  box-sizing: border-box;
}
.container-fluid > .row {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  box-sizing: border-box;
}
/*小屏*/
@media screen and (min-width: 982px) {
  .container {
    width: 982px;
  }
  .container > .row > .col-s-1 {
    width: 5%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
  }
  .container > .row > .col-s-2 {
    width: 10%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
  }
  .container > .row > .col-s-3 {
    width: 15%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
  }
  .container > .row > .col-s-4 {
    width: 20%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
  }
  .container > .row > .col-s-5 {
    width: 25%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
  }
  .container > .row > .col-s-6 {
    width: 30%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
  }
  .container > .row > .col-s-7 {
    width: 35%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
  }
  .container > .row > .col-s-8 {
    width: 40%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
  }
  .container > .row > .col-s-9 {
    width: 45%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
  }
  .container > .row > .col-s-10 {
    width: 50%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
  }
  .container > .row > .col-s-11 {
    width: 55%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
  }
  .container > .row > .col-s-12 {
    width: 60%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
  }
  .container > .row > .col-s-13 {
    width: 65%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
  }
  .container > .row > .col-s-14 {
    width: 70%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
  }
  .container > .row > .col-s-15 {
    width: 75%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
  }
  .container > .row > .col-s-16 {
    width: 80%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
  }
  .container > .row > .col-s-17 {
    width: 85%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
  }
  .container > .row > .col-s-18 {
    width: 90%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
  }
  .container > .row > .col-s-19 {
    width: 95%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
  }
  .container > .row > .col-s-20 {
    width: 100%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
  }
  .col-s-hide {
    display: none;
  }
}
/*中屏*/
@media screen and (min-width: 982px) {
  .container {
    width: 982px;
  }
  .container > .row > .col-m-1 {
    width: 5%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
  }
  .container > .row > .col-m-2 {
    width: 10%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
  }
  .container > .row > .col-m-3 {
    width: 15%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
  }
  .container > .row > .col-m-4 {
    width: 20%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
  }
  .container > .row > .col-m-5 {
    width: 25%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
  }
  .container > .row > .col-m-6 {
    width: 30%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
  }
  .container > .row > .col-m-7 {
    width: 35%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
  }
  .container > .row > .col-m-8 {
    width: 40%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
  }
  .container > .row > .col-m-9 {
    width: 45%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
  }
  .container > .row > .col-m-10 {
    width: 50%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
  }
  .container > .row > .col-m-11 {
    width: 55%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
  }
  .container > .row > .col-m-12 {
    width: 60%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
  }
  .container > .row > .col-m-13 {
    width: 65%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
  }
  .container > .row > .col-m-14 {
    width: 70%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
  }
  .container > .row > .col-m-15 {
    width: 75%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
  }
  .container > .row > .col-m-16 {
    width: 80%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
  }
  .container > .row > .col-m-17 {
    width: 85%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
  }
  .container > .row > .col-m-18 {
    width: 90%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
  }
  .container > .row > .col-m-19 {
    width: 95%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
  }
  .container > .row > .col-m-20 {
    width: 100%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
  }
  .col-s-hide {
    display: none;
  }
  .col-m-hide {
    display: none;
  }
}
/*大屏*/
@media screen and (min-width: 1230px) {
  .container {
    width: 1230px;
  }
  .container > .row > .col-l-1 {
    width: 5%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
  }
  .container > .row > .col-l-2 {
    width: 10%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
  }
  .container > .row > .col-l-3 {
    width: 15%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
  }
  .container > .row > .col-l-4 {
    width: 20%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
  }
  .container > .row > .col-l-5 {
    width: 25%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
  }
  .container > .row > .col-l-6 {
    width: 30%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
  }
  .container > .row > .col-l-7 {
    width: 35%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
  }
  .container > .row > .col-l-8 {
    width: 40%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
  }
  .container > .row > .col-l-9 {
    width: 45%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
  }
  .container > .row > .col-l-10 {
    width: 50%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
  }
  .container > .row > .col-l-11 {
    width: 55%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
  }
  .container > .row > .col-l-12 {
    width: 60%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
  }
  .container > .row > .col-l-13 {
    width: 65%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
  }
  .container > .row > .col-l-14 {
    width: 70%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
  }
  .container > .row > .col-l-15 {
    width: 75%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
  }
  .container > .row > .col-l-16 {
    width: 80%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
  }
  .container > .row > .col-l-17 {
    width: 85%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
  }
  .container > .row > .col-l-18 {
    width: 90%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
  }
  .container > .row > .col-l-19 {
    width: 95%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
  }
  .container > .row > .col-l-20 {
    width: 100%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
  }
  .col-s-hide {
    display: block;
  }
  .col-m-hide {
    display: block;
  }
}
@media screen and (max-width: 1260px) {
  .fight .left {
    display: none;
  }
  .activity-bg .fight {
    width: 982px;
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 1260px) {
  .brand-list .box1 {
    display: none;
  }
  .brand-list {
    width: 984px;
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 1260px) {
  .middle-column .box2 {
    display: none;
  }
  .floor-con {
    width: 982px;
  }
  .floor-con .line-body .middle-column {
    width: 747px;
  }
}
@media screen and (max-width: 1260px) {
  .guess .content {
    width: 984px;
  }
  .guess .content ul li {
    width: 187px;
  }
}
@media screen and (max-width: 1260px) {
  .sn-quick-menu .sitemap {
    display: none;
  }
}
@media screen and (max-width: 1260px) {
  .mui-mbar-tabs-mask {
    display: none;
  }
  .mui-mbar-tabs-mask .mui-mbar-tab-cart {
    display: block;
  }
}
@media screen and (max-width: 1260px) {
  .headerLayout {
    width: 982px;
  }
  .header-extra .mall-search ul .box3 {
    display: none;
  }
  .header-extra .mall-search {
    width: 410px;
  }
}
